<div id="mainContainer" #mainContainer>
  <audio src="assets/shutter.mp3" #shutter id="shutter" controls class="d-none"></audio>

  <!-- if not streaming, show a button to open the camera -->
  <div class="vertical-center" *ngIf="!isStreaming">
    <div class="text-center">
      <div class="text-danger pb-3" *ngIf="errorMessage"><strong>{{errorMessage}}</strong></div>
      <button class="btn btn-xxl btn-primary" (click)="startFeed()"><i class="fa fa-camera"></i> Open Camera</button>
    </div>
  </div>

  <!-- a 'countdown' container -->
  <div id="overlay-container" *ngIf="countdownMessage || overlayError || overlayMessage || successMessage">
    <h1 class="countdownMessage text-shadow" *ngIf="countdownMessage">{{countdownMessage}}</h1>
    <h1 class="text-success text-center" *ngIf="successMessage">{{successMessage}}</h1>
    <h1 class="text-shadow text-center" *ngIf="overlayMessage" [innerHTML]="overlayMessage"></h1>
    <h1 class="text-danger text-center" *ngIf="overlayError">{{overlayError}}</h1>
  </div>

  <!-- the video container -->
  <div [ngClass]="isStreaming ? 'd-block' : 'd-none'" class="h-100 w-100">
    <div class="h-100 w-100" id="video-container" #videoContainer>
      <img #snapShot [attr.src]="imageSrc" [ngClass]="imageSrc ? 'd-flex' : 'd-none'" class="img-responsive ml-auto mr-auto" />
      <video #cameraFeed id="cameraFeed" [ngClass]="imageSrc ? 'd-none' : 'd-flex'" class="w-100 h-100 ml-auto mr-auto"></video>
      <canvas class="d-none w-100 h-100" #canvas></canvas>
    </div>

    <!-- camera buttons -->
    <div class="controls ml-auto mr-auto p-3" *ngIf="isStreaming" #controls>
      <div class="ml-auto mr-auto" [style.width]="controlsStyle?.width">
        <div class="d-flex align-items-center">
          <div class="mr-auto ml-auto p-2">
            <a href="#" class="btn btn-xxl btn-success text-white" *ngIf="!imageSrc" (click)="takeSnapshot()"><i class="fa fa-camera"></i></a>
            <button href="#" class="btn btn-xxl btn-danger text-white mr-2" *ngIf="imageSrc" (click)="discardSnapshot()"><i class="fa fa-trash-o"></i> Discard</button>
            <button href="#" class="btn btn-xxl btn-primary text-white" *ngIf="imageSrc" (click)="tweetSubmit()"><i class="fa fa-twitter"></i> Publish!</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
