.controls{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px;
}
#main-container{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#overlay-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.7);;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem;
}
.btn-xxl {
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  .btn-xxl {
    padding: .8rem 1.6rem;
    font-size: 1rem;
  }
}
#overlay-container h1 {
  color: white;
  margin-bottom: 0;
}
.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#overlay-container .countdownMessage {
  font-size: 12rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#cameraFeed {
}

.vertical-center {
  position: relative;
  top: 50%;
}
